<div class="main">
<div class="about">
<p class="name" >Miłosz Sobiesiak</p>
<p class="title">Junior Frontend Developer</p>
</div>
<div class="information">
<p class="info">I am a graduate of the Gdańsk University of Technology and have been developing my skills in web application development for almost 1 year. 
I have experience in using technologies such as: HTML, CSS, Typescirpt, Angular. I am currently looking for a job where I can  further develop as a front-end developer.</p>
</div>
<div class="contact">
<p>Contact:</p><br>
<p>miloszsobiesiak98@gmail.com</p>
</div>
</div>