.main{
    position: relative;
    font-family: 'Courier New', Courier, monospace;
}

.skills{
    position: relative;
    width: 75%;
    left: 3%;
    top:100px;

}

.skills p{
    margin: 5px;
    display: inline;
}
.projects{
    width: 75%;
    position: relative;
    left:3%;
    top:200px;   

}

h1{
    opacity: 0;
    animation: fadein 2.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.project{
   
    animation: fadein 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: 0;
    margin-bottom: 100px;
}
.skill{
    
    animation: fadein 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes slidein {
    0% { margin-left:300px;}
    100% { margin-left:0;
    opacity:1; }
}