<div class="sidebar">
    <div class="options">
        <a routerLinkActive="active" routerLink="/aboutme">About Me</a>
        <a routerLinkActive="active" routerLink="/work">Work Experience and Education</a>
        <a routerLinkActive="active" routerLink="/projects">Skills and Projects</a>
        <a id="links" class ="links" href="https://github.com/MiloszSobiesiak?tab=repositories" target="_blank"><img src="assets\git.png " height="40" width="40"></a>
        <a id="links" class ="links" href="https://www.linkedin.com/in/mi%C5%82osz-sobiesiak-21b774238/" target="_blank"><img src="assets\linked.png " height="40" width="40"></a>
    </div>
</div>
  
<div class="content">
    <router-outlet></router-outlet>
</div>